<h1>Service show page</h1>

<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-7">
    <h1>Picture</h1>
    <h3><%= @service.cat.name %></h3>
    <p><%= @service.description %></p>
  </div>
  <div class="col-lg-3">
    <h3>Similar Events</h3>
  </div>
  <div class="col-lg-1">
  </div>
</div>
