<div class="container">

	<nav class="navbar navbar-fixed col-md-4 " id="sidebar" role="navigation">
		<ul class="nav sidebar-nav left-nav" >
			<li class="sidebar-brand">
				<p>6-12 YEARS OLDS</p>
			</li>
			<li id = "contact">
				<p>  Who to contact for information about...</p>
			</li>
			<li>
				<a href="#">Sports
					<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#">Arts & Culture<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#">Community Clubs<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#">Before and After School<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#">Holiday / Pro-D<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
			</ul>
		</nav>
		<div class="container">

			<div class="col-md-8 content">
				<div class="row content-header">
					<div class="col-sm-6">
						ORGANIZATIONS
					</div>
					<div class="col-sm-6 hidden-xs">
						PROGRAMS OFFERED
					</div>
				</div>
				<div class="row content-row">

					<div class="col-xs-4 col-sm-2">
						<%= image_tag('logo.jpg', id: "logo", class: 'img-thumbnail') %>
					</div>
					<div class="col-xs-8 col-sm-4">
						<p>Delta Parks & Rec</p>
						<a>Register Now</a>
					</div>
					<div class="col-xs-12 col-sm-6">
						<span class="visible-xs">Programs Offered: </span>
						<p>Swimming, Basketball, Badminton, Ice Skating</p>
					</div>
				</div>
				<div class="row content-row">

					<div class="col-xs-4 col-sm-2">
						<%= image_tag('logo.jpg', id: "logo", class: 'img-thumbnail') %>
					</div>
					<div class="col-xs-8 col-sm-4">
						<p>Delta Parks & Rec</p>
						<a>Register Now</a>
					</div>
					<div class="col-xs-12 col-sm-6">
						<span class="visible-xs">Programs Offered: </span>
						<p>Swimming, Basketball, Badminton, Ice Skating</p>
					</div>
				</div>		
			</div>
		</div>
	</div>
>>>>>>> integration
