<div class="row">
  <div class="col-lg-4">
    <h2>Pregnancy and babies</h2>
    <h4>Childcare and Preschool </h4>
    <h4>Supports for Children</h4>
    <h3>Supports for Families</h3>
  </div>
  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-4">
        <h2>Organizations</h2>
        <hr>
      </div>
      <div class="col-lg-4">
        <h2>Programs offered</h2>
        <hr>
      </div>
    </div>
    <% @services.each do |service| %>
    <div class="row">
      <div class="col-lg-4">
        <p>Service logo: <%= service&.logo %></p>
        <p>Service name: <%= service.name %></p>
        <p>website: <a href="<%= service&.website %>">website</a> </p>
        <a href="/services/<%= service.id %>">learn more</a>

      </div>
      <div class="col-lg-4">
        Programs offered
      </div>

    </div>
    <hr>
    <% end %>
  </div>

</div>
