<div class="container-fluid">
  <h2> <%= @resource.name %> </h2>
  <h3>Description: <%= @resource.description %></h3>
  <h3>Contact Name: <%= @resource.contact_name %></h3>
  <h3>Contact Email: <%= @resource.contact_email %></h3>
</div>
