<div class="container">


  <div class="row thank-you">
    <div class="text-center message">
      <h2 class="teal-blue">THANK YOU FOR SUBMITTING A FORM.</h2>

      <p class="teal-blue message-word"><strong>One of our admin's will get back to you shortly after reviewing your article!</strong></p>

    </div>

  </div>
  <br>
</div>
