  <div class="row">
    <div class="col-md-12">
      <%= image_tag 'dad.jpg', :class=> "survey-pic" %>
    </div>

    <div class="col-md-8">
      <br>
      <h3>SURVEY RESULTS</h3>
      <hr>
      <span class="teal-blue">Results of the Child-Friendly Survey</span>
      <hr>
      <p>DeltaKids conducted a survey of children and families in Delta.
      We wanted to know what was working for them, and what was not. Below,
    you can find details of the survey for different interest groups. There
    is a report for:</p>
      <br>
      <ul>
        <li><a href="newsletter_01.pdf" target="_blank">Businesses</li></a>
        <li><a href="newsletter_02.pdf" target="_blank">Child Care</li></a>
        <li><a href="newsletter_03.pdf" target="_blank">Health</li></a>
        <li><a href="newsletter_04.pdf" target="_blank">Helping Services</li></a>
        <li><a href="newsletter_05.pdf" target="_blank">Media</li></a>
        <li><a href="newsletter_06.pdf" target="_blank">Municipality</li></a>
        <li><a href="newsletter_07.pdf" target="_blank">Parks, Recreation & Culture</li></a>
        <li><a href="newsletter_08.pdf" target="_blank">Schools</li></a>
        <li><a href="newsletter_09.pdf" target="_blank">Sports</li></a>
      </ul>
      <span class="greyed-out">(Click the report subject in the list above to download the report)<br></span>
      <br>
      <p>In addition, there is a short description of the Early Years Instrument(EDI). This tool shows how children are doing in Delta in comparision to the rest of the province.
      <br>
      <br>
      <ul>
        <li>Early Years Instrument (EDI) Report</li>
      </ul>
      <br>
      We offer this data in the hope that it will assist you in your work with Delta children and families, and in the spirit of prompting further discussion, research, and collaboration. Together we can make Delta an even more family friendly community than it is already.
      <br>
      <br>
      If you have questions about the survey or would like additional details please be in touch with <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Jason Hodgins</a>.
      <br>
      <br>
      If you would like to arrange a presentation, explore opportunities to collaborate with DeltaKids, or share ways you have found this information useful please keep in touch with <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Andrea Lemire</a>
      <br>
      <br>
    </p>
    <hr>


    </div>
    <div class="col-md-4">
      <br>
      <h3>Latest News</h3>
      <hr>
      <a href="https://www.deltakids.com">Resources in Delta for Child & Youth Mental Health</a>
      <hr>
      <a href="https://www.deltakids.com">What's New for June</a>
      <hr>
      <a href="https://www.deltakids.com">Food Skills for Families!!!</a>
      <hr>
      <a href="https://www.deltakids.com">Day Care, Preschool & Drop-in Programs</a>
      <hr>
      <a href="https://www.deltakids.com">How to "Live 5-2-1-0"!</a>
      <hr>

    </div>
  </div>
