/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 // HEADER

 // body {
 //   margin: 0px;
 // }

 #main-logo {
   width: 275px;
   margin-top: 25px;
 }

 .icon-bar {
   background-color: black;
 }

.upper-nav li {
  font-size: 16px;
  color: #004C81;
  margin-top: 15px;
  margin-right: 50px;
  font-family: 'Open Sans', sans-serif;
}

.fa-search {
  margin-bottom: 10px;
}

.lower-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.lower-navbar li {
  font-family: 'Bree Serif', serif;
}

.dropdown-toggle {
  margin-top: -15px;
  padding-top: 0px;
}

.dropdown-menu {
  background-color: #004C81;
  width: 500px;
  border: 2px solid #a1a1a1;
  border-radius: 10px;

}

.dropdown-menu div li a {
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 0px;
}

.dropdown-menu div li i {
  color: white;
}

.no-padding{
  padding: 0px;
}

.yellow-header-nav a{
  color: #FFF200 !important;
}

// FOOTER

.footer {
  background-color: #004C81;
  height: 100px;
  text-align: center;
  padding-top: 25px;
  font-size: 12px;
}

.footer i {
  color: #004C81;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  margin:	 0px 5px 2px 5px;

}

#copyright-icon {
  color: white;
  background-color: #004C81;
  font-size: 10px;
  padding: 0px;
}

.footer-text p {
  color: white;
  font-size: 10px;
}

.footer-text-firstline p {
  display: inline-block;
  color: white;
  padding-top: 10px;
  line-height: 0%;
  font-size: 10px;
}

// CSS white cloud background
.top-cloud-background {
  margin-left: 0px;
  background-image: url("toop.png");
	width: 100%;
	// position: relative;
}

// .content-background {
//     background-color: #CCEEF8;
// 		width: 100%;
// }

h1, h2, h3, h4, h5, h6 {
 font-family: 'Bree Serif', serif;
}
