// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CSS FOR NEW ORGANIZATIONS FORM
.background {
  background-color: #C8ECF5;
}

label {
  font-family: 'Open Sans', sans-serif;
  color: #004C81;
}

.activity_type label {
  margin-right: 30px;
}
