// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hr-thick{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #004C81;
    margin: 1em 0;
    padding: 0;
}

// left side
.resource{
  background-color: #D1F0F4;
}
.filter-bar{
  background-color: #F0FFFF;
  border-radius: 15px;
}
.filter-head{
color:#004C81;
// position: relative;
}
.filter-info{
  margin-left: 20px;
  margin-right: 10px;
  // margin-bottom: 10px;
  padding-bottom: 10px;
}
#filter-name{
  font-size: 34px;
  font-family: "Bree serif";
}

.filter-icon{
  width: 40px;
  height: 40px;
  float: right;
}

// right side
.main-pic{
  height: 400px;
  width: 100%;
  z-index: 0;
}

.articles{
  // background-color: white;
}
.article{
  padding: 5px 10px 10px 10px;
  margin-bottom: 10px;
  background-color: white;
}

.article-share{
  text-align: center;
}

.share-pic{
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

// colours
.teal-blue{
  color: #004C81;
}
.deep-sky-blue{
  color: #00A3DA
}

.light-blue{
  color: #D1F0F4;
}
/// resource show page
.resource-back{
  background-color: #D1F0F4;
}

.resource-show-top{
  background-color: white;
  margin: 0 25px 25px 25px;
  padding-bottom: 35px;
}

.resource-info-left{
  background-color: white;
  margin: 0 0 15px 25px;
  padding: 10px 25px 15px 25px;
}

.resource-info-right{
  background-color: white;
  float: right;
  margin-right: 38px;
}

.resource-info{
  font-size: 20px;
}

.suggested-article{
  background-color: #F0FFFF;
  padding: 10px 20px 10px 20px;
  margin: 15px 25px 20px 25px;
  border-radius: 15px;
}

.main-article{
  border-radius: 15px;
  background-color: #F0FFFF;
  padding: 10px 20px 10px 20px;
  margin: 15px 15px 20px 15px;
}

.shelf-pic{
  width: 100%;
  float: left;
}

.thank-you{
  background-color: #D1F0F4;
  height: 650px;
}
.message{
  background-color: white;
  margin: 25px 75px 10px 75px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 45px;
}
.message-word{
  font-size: 20px;
}
////////
.background {
  background-color: #D1F0F4;
}

.btn {
  margin-bottom: 20px;
}

label, input {
  font-family: 'Open Sans', sans-serif;
  color: #004C81;
  font-size: 18px;
}

h2, h3 {
  color: #004C81;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #004C81;
  margin-right: 10px;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 10px;
}

h4 {
  font-size: 24px;
}

.move-radio {
  margin-right: 15px;
}
