// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background {
  background-color: #C8ECF5;
}

h1 {
    color: #004C81;
}

label {
  font-family: 'Open Sans', sans-serif;
  color: #004C81;
}

.move-right {
  margin-right: 15px;
}
