// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD



.sidebar-brand{
	font-family: Bree serif;
	font-size: 20px;
}

#contact{
	font-size: 25px;

}
#sidebar{
	background-color: #1171b0;
	color: #00A3DA;
	margin-top: 10%;
	border: red solid;
	height: 100%;

}

.left-nav li a{
	color: white;
}

.logos{
	border: red solid;
	padding-left: 15%;
	margin-top: 36px;
	margin-right: 10px;


}

.content{
	border: red solid;
	margin-top: 10%;

}

#logo{
	    width: 50px;
			margin-left: -43px;
			margin-top: 2px;
}

.register{
	border: red solid;

=======
.sidebar-brand{
    font-size: 20px;
    color: white;
    padding-left: 1em;
}
#contact{
    font-size: 16px;
    color: #00A3DA;
    padding-left: 1em;
}
#sidebar{
    font-family: "Open Sans";
    background-color: #004C81;
    // border: red solid;
    padding: 2em 0;
}
.left-nav li a{
    color: white;
}
.content{
    // border: red solid;
    font-family: "Open Sans";
    background-color: white;
    font-size: 16px;
    color: #004C81;
    padding: 0.5em 1.2em;
}
.content-header{
    font-weight: bold;
    border-bottom: 1px solid;

}
.content-row{
    font-size: 16px;
    color: #004C81;
    padding: 0.5em 1.2em;
    border-bottom: 1px solid;
}
.register{
    border: red solid;
>>>>>>> d69d5cf953aecf19690830b5e074998f52825a88
}
