// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
  background-color: #D1F0F4;
  display: flex;
  justify-content: center;
}

#contact-pic {
  margin-top: 35px;
  width: 969px;
}

.contact-us-words {
  background-color: white;
  text-align: center;
  font-size: 40px;
  width: 85%;
  color: #00A3DA;
  margin-right: 2px;
  margin-left: 2px;
}
