<html>

<head>

	<link rel="stylesheet" href="style.css">

</head>

<body>
	<div class="container">
		<div class="row top-background">
			<br /><br /><br />
		</div>
		<div class="row body-background">
			<br /><br />
		</div>

		<div class="row body-background">
			<div class="col-sm-4">
				<div class="img-rounded filter">

					<h3>Filters</h3>
					<br /><br />

					<section class="side-menu-item">
						<header class="card-collapse-heading" role="button"
						title="For">
						<h4 class="card-collapse-title">For</h4>
					</header>
					<div id="collapse-categorias" class="card-collapse-content collapse in">
						<ul class="list-unstyled">
							<li class="">
								<a class="" href="#"><span>Everyone</span></a>
							</li>
							<li class="">
								<a class="" href="#"><span>0-6 years old</span></a>
							</li>
						</ul>
					</div>
				</section>

				<hr />

				<br /><br /><br /><br />

			</div>

		</div>

		<div class="col-sm-8">
			<h3>Featured</h3>

			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/800x300" alt="">
				<div class="caption-full">
					<h4><a href="#">Family Program</a>
					</h4>

					<div class="activity-info">
						<span class="glyphicon glyphicon-calendar">
							<strong>Event</strong> - [Date]
						</span>
						<span class="glyphicon glyphicon-calendar">[Time]</span>
						<span class="glyphicon glyphicon-calendar">[Age]</span>
						<span class="glyphicon glyphicon-calendar">[Price]</span>
						<span class="glyphicon glyphicon-calendar">[Location]</span>
					</div>
					<p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
					<p>Want to make these reviews work? Check out
						<strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
						</strong>over at maxoffsky.com!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
						<p class="text-right"><a href="">Learn More</a></p>
						<p></p>

					</div>

				</div>


			</div>
		</div>

		<br /><br /><br /><br /><br /><br /><br />


	</div> <!-- /container -->

</body>

</script>


</html>
