<div class="container ">
	<!-- <div class="row body-background"> -->
	<div class="col-sm-4">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 col-sm-8 col-md-10">
					<div id="accordion" class="panel panel-primary behclick-panel">
						<div class="panel-heading">
							<h3 class="panel-title" style="text-align: center;">FILTERS<i class="fa fa-filter pull-right" aria-hidden="true"></i></h3>
						</div>
						<div class="panel-body" >
							<div class="panel-heading " >
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#collapse0">
										<i class="indicator fa fa-caret-down" aria-hidden="true"></i> For
									</a>
								</h4>
							</div>
							<div id="collapse0" class="panel-collapse collapse in" >
								<ul class="list-group">
									<li class="list-group-item">
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">
												Everyone
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="">
												0-6 years old
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox"  >
											<label>
												<input type="checkbox" value="">
												6-12 years old
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox"  >
											<label>
												<input type="checkbox" value="">
												Parents
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox"  >
											<label>
												<input type="checkbox" value="">
												Child care workers or service providers
											</label>
										</div>
									</li>
								</ul>
							</div>
							<!--  -->
							<div class="panel-heading " >
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#collapse1">
										<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Activity Type
									</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in" >
								<ul class="list-group">
									<li class="list-group-item">
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">
												All activities
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="">
												Workshops
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox"  >
											<label>
												<input type="checkbox" value="">
												Drop-ins
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox"  >
											<label>
												<input type="checkbox" value="">
												Special events
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox"  >
											<label>
												<input type="checkbox" value="">
												Adults programs
											</label>
										</div>
									</li>
								</ul>
							</div>

							<!--  -->
							<div class="panel-heading" >
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#collapse2"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>Where</a>
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse in">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">
												All locations
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="">
												Ladner
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox"  >
											<label>
												<input type="checkbox" value="">
												North Delta
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox"  >
											<label>
												<input type="checkbox" value="">
												Tsawwassen
											</label>
										</div>
									</li>
								</ul>
							</div>
							<!--  -->
							<div class="panel-heading" >
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>When</a>
								</h4>
							</div>
							<div id="collapse3" class="panel-collapse collapse in">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="form-group" >
											<label for="from">
												Start Date:
											</label>
											<input type="text" class="form-control" id="from">
										</div>
									</li>
									<li class="list-group-item">
										<div class="form-group" >
											<label for="to">
												End Date:
											</label>
											<input type="text" class="form-control" id="to">
										</div>
									</li>
								</ul>
							</div>
							<!--  -->
							<div class="panel-heading" >
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#collapse4"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>Cost</a>
								</h4>
							</div>
							<div id="collapse4" class="panel-collapse collapse in">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">
												Free and paid
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="">
												Free
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="">
												Paid
											</label>
										</div>
									</li>
								</ul>
							</div>
							<!--  -->
							<div class="panel-heading" >
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#collapse5"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>Recurrence</a>
								</h4>
							</div>
							<div id="collapse5" class="panel-collapse collapse in">
								<ul class="list-group">
									<li class="list-group-item">
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">
												Ongoing and events
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox">
											<label>
												<input type="checkbox" value="">
												Ongoing
											</label>
										</div>
									</li>
									<li class="list-group-item">
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="">
												Events
											</label>
										</div>
									</li>
								</ul>
							</div>
							<!--  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start Contents -->
	<!-- Start Calendar -->
	<div class="col-sm-8">
		<div class="row">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/800x300" alt="">
				<div class="caption-full">
					<h4 style="text-align:center;"><a href="#">ACTIVITIES CALENDAR</a></h4>
				</div>
			</div>
		</div>
		<!--S Featured  -->
		<h3>Featured</h3>
		<div class="row">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/800x300" alt="">
				<div class="caption-full">
					<h4><a href="#">Family Program</a>
					</h4>

					<div class="activity-info">
						<span class="glyphicon glyphicon-calendar">
							<strong>Event</strong> - [Date]
						</span>
						<span class="glyphicon glyphicon-calendar">[Time]</span>
						<span class="glyphicon glyphicon-calendar">[Age]</span>
						<span class="glyphicon glyphicon-calendar">[Price]</span>
						<span class="glyphicon glyphicon-calendar">[Location]</span>
					</div>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					<p class="text-right"><a href="">Learn More</a></p>
					<p></p>
				</div>
			</div>
		</div>
		<!-- Start Upcoming -->
		<h3>Upcoming</h3>
		<div class="row">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/800x300" alt="">
				<div class="caption-full">
					<h4><a href="#">Event name</a>
					</h4>

					<div class="activity-info">
						<span class="glyphicon glyphicon-calendar">
							<strong>Event</strong> - [Date]
						</span>
						<span class="glyphicon glyphicon-calendar">[Time]</span>
						<span class="glyphicon glyphicon-calendar">[Age]</span>
						<span class="glyphicon glyphicon-calendar">[Price]</span>
						<span class="glyphicon glyphicon-calendar">[Location]</span>
					</div>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					<p class="text-right"><a href="">Learn More</a></p>
					<p></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="thumbnail">
				<img class="img-responsive" src="http://placehold.it/800x300" alt="">
				<div class="caption-full">
					<h4><a href="#">Event name</a>
					</h4>

					<div class="activity-info">
						<span class="glyphicon glyphicon-calendar">
							<strong>Event</strong> - [Date]
						</span>
						<span class="glyphicon glyphicon-calendar">[Time]</span>
						<span class="glyphicon glyphicon-calendar">[Age]</span>
						<span class="glyphicon glyphicon-calendar">[Price]</span>
						<span class="glyphicon glyphicon-calendar">[Location]</span>
					</div>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
					<p class="text-right"><a href="">Learn More</a></p>
					<p></p>
				</div>
			</div>
		</div>

	</div>
</div>
